/* div {
  display: inline-block;
} */

.satu {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  /* margin-left: 100px; */
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
  /* margin-right: 30px; */
  /* margin-left: auto; */
  /* margin-right: auto; */

  /* margin shorthand */
  /* 1 nilai : semua sama */
  /* 2 nilai : atas & bawah, kiri & kanan */
  /* 3 nilai : atas, kiri & kanan, bawah */
  /* 4 nilai : atas, kanan, bawah, kiri (searah jarum jam) */

  /* margin: 50px auto; */
  /* margin: 30px auto 40px; */
  margin: 10px 20px 30px 40px;
}

.dua {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  /* margin-top: -150px; */
  /* margin-left: -120px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.tiga {
  width: 50px;
  height: 50px;
  background-color: violet;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
